<nav class="navbar fixed-top navbar-light bg-light navbar-expand-lg bg-body-white shadow">
    <div class="container">
      <a class="navbar-brand" href="#"><img src="../../../assets/logo-sm.svg" /></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
      
  
  
        <form class="d-flex mx-auto" role="search">
          <div class="input-group">
            <input type="text" class="form-control" placeholder="search" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <img src="../../../assets/icons/bars.svg" class="filter-image" />
            <span class="input-group-text px-4 search-btn" id="basic-addon2"> <img src="../../../assets/icons/search.svg" /> </span>
          </div>
        </form>
        <ul class="navbar-nav  mb-2 mb-lg-0">
          <!-- <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#"> Home </a>
          </li> -->
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              category
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              brands
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="#">Action</a></li>
              <li><a class="dropdown-item" href="#">Another action</a></li>
              <li>
                <hr class="dropdown-divider">
              </li>
              <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
          </li>
        </ul>
  
  
        <div class="account-links ms-auto d-flex align-items-center">
          <ul class="navbar-nav   mb-lg-0">
            <li class="nav-item mx-2">
              <a class="nav-link " aria-current="page" href="#"><i class="bi bi-file-earmark-text-fill"></i></a>
            </li>
            <li class="nav-item mx-2">
              <a class="nav-link " aria-current="page" routerLink="/Cart"><i class="bi bi-cart-dash-fill"></i></a>
            </li>
            
          </ul>
          <div class="dropdown">
            <button class="btn btn-light dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <img src="../../../assets/person.png" width="40" />
              Profile
             </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
              
                <li style="border-bottom: 1px solid black;"><a class="dropdown-item" href="#">My Profile</a></li>
                <li><a class="dropdown-item" routerLink="store/home/invoice" >Invoice</a></li>
                <li><a class="dropdown-item" routerLink="/store/home/orders">Orders</a></li>
                <li><a class="dropdown-item" routerLink="/store/home/payments">Payments</a></li>
                <li><a class="dropdown-item" href="#">Notifications</a></li>
              
            </div>
          </div>


          
        </div>
      </div>
    </div>
  </nav>