<div class="card mb-4 border-0" style="background-color: #f3f5f7;">
    <img src="{{src}}" class="card-img-top" alt="...">
    <div class="card-body">
      <div class="d-flex justify-content-between align-items-center">
        <div class="d-flex justify-content-between align-items-center w-100">
          <h5 class="card-title mb-0">Product title </h5>
          <small *ngIf="isOutOfStock">200$</small>
        </div>
      </div>
      <p class="card-text">Some quick example text to build.
      </p>
      <div class="text-end">
        <a href="#" class="btn btn-link text-decoration-none font-weight-bold" style="color: #686868;">Details</a>
      </div>
    </div>
  </div>