<div class="container pb-5 mb-2">
    <h2 class="mb-3">New Payment</h2>
<hr>
    <br>
    <div class=" row">
    <div class="col-md-8" >
      <div class="container">
        <!-- Cart Item-->

        <div class="cart-item">
          

        <!-- <div class="row cart-item" *ngFor="let p of [1,2,1]"> -->
          <h5 style="text-align: center; width: 100%;"><span style="color:#FADA07">Payment Method
            <img src="http://localhost:4200/assets/icons/Group51.png" alt="Product">
              </span>Payment </h5>
              <form>
                <span id="card-header">Payment Method</span><br><br>
                <span id="">Card Number</span>
                <div class="row-1">               
                    <div class="row row-2">
                        <input type="text" placeholder="5134-5264-4">
                    </div>
                </div>
                <span id="">Name on Card</span>
                <div class="row-1">
                    <div class="row row-2">
                        <input type="text" placeholder="Bojan Viner">
                    </div>
                </div>
                <span id="">Expiration</span>

                <div class="row three">
                    <div class="col-2">
                        <input type="text" placeholder="03">
                    </div>
                    
                    <div class="col-2">
                        <input type="text" placeholder="21">
                    </div>
                    <div class="col-4">
                        <div class="row-1">
                            <div class="row row-2">
                                <span id="card-inner">Card number</span>
                            </div>
                            <div class="row row-2">
                                <input type="text" placeholder="cvv">
                            </div>
                        </div>
                    </div>
                </div>
            </form>







            <div class="col-md-3">
            <!-- <div class="px-3 my-3 text-center">
                <div class="cart-item-label">Subtotal</div><span class="text-xl font-weight-medium">$910.00</span>
            </div> -->
            <!-- <div class="px-3 my-3 text-center">
                <div class="cart-item-label">Discount</div><span class="text-xl font-weight-medium">$35.00</span>
            </div> -->
          </div>
        </div>
        
    
    
           
        </div>
    </div>
    <div class="col-md-4">
    <div class="ibox">
    
    <div class="ibox-content" style="border: 2px solid #c7c8c9;">
      <div class="row">
        <h6 class="col-md-4">Total</h6><h6 class="col-md-4"> : $39,000</h6>
        </div>
            <div class="row">
              <h5>Enter the desired</h5><br>
              <input class="form-control" style="height: 60px;background-color: #e7eaec;width: 90%;">
            </div>
            
             <hr> 
             
    
    
    
    </div>

    <div class="ibox-title p-10 m-3">
      <a routerLink="/store/home/payments"><h5>Pay</h5></a>
      </div>
    </div>
    
    </div>
    </div>
  
  
  
   
<br>
    <h2 class="mb-3">Hot offers</h2>
  <hr>
  
<app-product-carousel></app-product-carousel>







  </div>