.h1-header{
    // font-family: 'Cairo';
    font-style: normal;
    font-weight: 700;
    font-size: 34px;
    line-height: 64px;
    color: #1C1C1C;
    padding-bottom: 1rem;
    border-bottom: 1px solid #BABABA;

}